.col {
  padding-bottom: 2em;
}
.columnBox {
  display: inline-block;
  width: 100%;
  min-height: 13em;
  padding-left: 5%;
  border-radius: 5px;

  text-align: left;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 20%);
}

.card {
  width: 95%;
  margin-top: 10px;
  background-color: white;
  text-align: center;
  min-height: 10em;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 90%;
  display: inline-flex;
  /* overflow-x: auto;
    white-space: nowrap; */
}

.fixedVersion {
  width: 25em;
  display: block;
  background-color: rgb(244, 245, 247);
  margin-left: 1em;
  color: #5e6c84;
  height: 15em;
  padding: 1em;
  text-align: left;
}

.Api {
  width: 100%;
}

.container {
  width: 100%;
}

.ui-cont {
  display: flex;
  flex-direction: row;
}

/* New elements */

.initiativeBox {
  margin-top: 1em;
}
.InitiativeSize {
  width: 28em;
  height: 1em;
}
.fixSize {
  height: auto;
  width: 25em;
  display: block;
  background-color: rgb(244, 245, 247);
  margin-left: 1em;
  color: #5e6c84;
  text-align: left;
  padding: 1em;
}
.intiative {
  min-width: 20em;
  min-height: 8em;
  align-content: center;
  margin: 4em;
  border-radius: 5px;
  line-height: 8em;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.epic {
  width: 23em;
  min-height: 9em;
  padding: 1em;
  margin-top: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px 0 rgb(133 133 133 / 10%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.epic:hover {
  background-color: rgb(235, 236, 240);
}
.epicName {
  padding: 0.1em;
  width: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.epicNum {
  margin-right: 0;
  text-align: right;
  padding: 0.5em;
}
.Storybox {
  width: 100%;
}

.dateonfix {
  margin-right: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.options {
  margin-bottom: 3em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(0, 82, 204);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(0, 82, 204) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.dropdwnbtn {
  text-align: center;
  background-color: rgb(0, 82, 204);
  padding: 0.4em 0;
  color: white;
  border-radius: 5px;
  height: 2.5em;
  width: 5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4em;
}

.dropdwnbtn:hover {
  background-color: rgb(0, 92, 230);
}
.dropitem {
  padding-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.dropitem:hover {
  background-color: rgb(243, 243, 243);
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
